html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #24252a
}

body {
  max-width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  height: auto;
  border-bottom: 1px solid black;
}

main {
  max-width: 100vw;
  height: calc(100% -76px);
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 15px;
  display: flex;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  border-radius: 25px;
  background-color: blue
}


ul li:hover {
  background: #555;
}

ul li:hover ul {
  display: block;
}

ul li ul {
  position: absolute;
  display: none;
}

ul li ul li {
  background: #555;
  display: block;
}

ul li ul li a {
  display: block !important;
}

ul li ul li:hover {
  background: #666;
}

/* .product_background {
  height: 250px;
  width: 100%;
  background-image: url(../assets/Product_background/product1-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  margin: 5px;
  padding: 5px;
}

.container .mainpic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container .smallpics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 180px;
}

.container .smallpics .picture {
  max-width: 150px;
  height: 150px;
  cursor: pointer;
}

.container .smallpics .picture:hover {

}

.buybtn {
  display: flex;
  align-items:center;
  justify-content: center;
}

.buybtn button {
  color: black;
  background: green;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: 0.2;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 25px;
}

.buybtn button:hover {
  background: rgb(54, 230, 54);
}