html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #24252a
}

body {
  max-width: 100vw;
  height: 100vh;
}

footer {
  background: #aaa;
  display: flex;
  justify-content: center;
}

header {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  border-bottom: 1px solid black;
}

.menu {
  display: flex;
  /* width: 20%; */
  justify-content:space-evenly;
}

.fas {
  margin-right: 0.3rem;
}

.options {
  background: rgb(248, 248, 115);
  cursor: pointer;
  transition: 0.5s ease;
  margin-right: 0.8rem;
  padding: 0.5em;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.options:hover {
  background: rgb(231, 235, 7);
}

.footer {
    justify-content: center;
    align-items: center;
  }
  
  .media__icons {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }
  
  .media__icons .SocialMedia {
    padding: 1.1rem;
    font-size: 1.6rem;
  }
  
  .fab, .fas {
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.6s ease;
  }
  
  .fa-facebook:hover {
    filter: grayscale(0%);
    color: rgb(0, 120, 246)
  }
  
  .fa-snapchat:hover {
    filter: grayscale(0%);
    color: rgb(255, 252, 0);
  }
  
  .fa-twitter:hover {
    filter: grayscale(0%);
    color: rgb(29, 161, 242);
  }
  
  .fa-instagram:hover {
    filter: grayscale(0%);
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  
  .fa-whatsapp:hover {
    filter: grayscale(0%);
    color: rgb(52, 175, 35);
  }
  
  .fa-heart:hover {
    filter: grayscale(0%);
    color: red;
  }
  
  .secondlinefooter {
    display: flex;
    justify-content: space-evenly;
  }
  
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 2rem;
    filter: grayscale(100%)
  }
  
  .footer__list  a{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .aboutpage {
    margin-left: 1.4rem;
  }
  
  .footer__list a:hover {
    text-decoration: underline;
  }